body {
    background-color: #34495e;
    overflow-x: hidden;
}

body {
    color: #f5f5f5;
    font-family: "ApexNew Heavy";
    /*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
    font-size: 100%;
}

body, html {
	width: 100%;
	height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 35px;
	text-transform: uppercase;
	font-family: "ApexNew Book";
	font-weight: 700;
	letter-spacing: 1px;
}

p {
	margin: 0 0 25px;
	font-size: 18px;
	line-height: 1.5;
}

a {
	color: #42dca3;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0px;
    padding: 0px;
    border: 0px none;
    font: inherit;
    vertical-align: baseline;
}

.section-header {
    text-align: center;
    text-transform: uppercase;
    font-family: "ApexNew Heavy";
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.2);
    color: #f5f5f5;
    font-weight: 700;
    font-size: 100px;
    line-height: 100px;
    letter-spacing: 8px;
    padding: 10px 0px 10px 10px;
    float: left;
    margin: 0px 0px 20px;
}

.text-lead {
    text-align: center;
    text-transform: uppercase;
    font-family: "ApexNew Heavy";
    color: #f5f5f5;
    font-size: 25px;
}

.section-title {
    text-align: center;
    text-transform: uppercase;
    font-family: "ApexNew Heavy";
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.2);
    color: #f5f5f5;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 8px;
    border-top: 2px solid #f5f5f5;
    border-bottom: 2px solid #f5f5f5;
    padding: 10px 0px 10px 10px;
    float: left;
    margin: 0px 0px 20px;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #FFF;
    border-radius: 100% !important;
    font-size: 40px;
    color: #FFF;
    background: none repeat scroll 0px 0px transparent;
    transition: #F2F1F0 0.3s ease-in-out 0s;
}

#main {
    height: 100%;
}

section {
    padding: 4% 0;
	height: 100%;
}

#dot-nav{    
	right: 10px;
	top: 33%;
	margin-top: -50px;
	height: 100px;
	z-index: 999;
}

#dot-nav ul {
	list-style: none;
	margin:0;
	padding: 0;
}

#dot-nav li {
	position: relative;
	background-color: #bdc3c7;
	border:3px solid #bdc3c7;
	border-radius: 15px 15px 15px 15px;
	cursor: pointer;
	padding: 5px;
	height: 10px;
	margin: 10px 10px 0px 0px;
	width: 10px;
	vertical-align:bottom;
}

#dot-nav li.active, #dot-nav li:hover {
	background-color: #34495e;
}

#dot-nav a {
	outline: 0;
	vertical-align:top;
	margin: 0px 0px 0px 25px;
	position: relative;
	top:-5px;
}

.awesome-tooltip + .tooltip > .tooltip-inner {
    background-color: #f5f5f5; 
    color: #34495e; 
    border: 1px solid #f5f5f5;
}

.awesome-tooltip + .tooltip.left > .tooltip-arrow{
    top:50%;
    right:0;
    margin-top:-5px;
    border-top:5px solid transparent;
    border-bottom:5px solid transparent;
    border-left:5px solid #f5f5f5;
}